.login-bg {
  background-image: url('./home_images/back1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginsignup {
  font-size: 2.6rem;
}


.login1-container {
  height: 65vh;
}

.signup1-container {
  height: 80vh;
}

.loginsignup-container {
  width: 40rem;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(131, 25, 135);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginsignup-container h1 {
  margin: 20px 0px;
  font-size: 2.6rem;
  font-weight: bold;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; 
  width: 100%; 
}

.loginsignup-fields label {
  font-size: 1.8rem;
}

.loginsignup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 1.5rem;
}

.loginsignup-container button {
  width: 100%;
  height: 72px;
  color: white;
  background: linear-gradient(to top right, #ff0076, #590fb7);
  margin-top: 30px;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 1.8rem;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
