.login-container {
  font-size: 2.6rem; 
}
.login-container {
  width: 25rem; 
  max-width: 100%; 
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 25rem;
  padding: 1.6rem; 
}

.mb-3 {
  padding: 0.6rem;
  font-size: 1.9rem;
}
.form-control {
  font-size: 1.5rem;
}

.Terms{
  padding: 0.6rem;
  font-size: 1.6rem;
}
.btn{
  font-size: 1.7rem;
}